.about{
    display: flex;
    flex-direction:column;
    gap: 1rem;
}
.about__allContents{
    display: flex;
    flex-direction: column;
 
}
.about__title{
    font-size: var(--size-2xl);
    color: var(--button-hover-background-color);
}
.about__description{
    max-width: 60ch;
    font-size: var(--size-sm);
}

.about__hr{
    border-color: var(--hr-color);

}

.about__subtitle{
    font-size: var(--size-sm);
    color: var(--button-hover-background-color);
}
.about__ulContainer{
    display: flex;
    
}
.about__unorderedList{
    display: flex;
    flex-direction: column;
    gap: 1em;
    list-style-type: '\270D';
    padding-left: 1em;
    flex: 1;
}
.about__listItems{
    font-size: var(--size-sm);
}

.about__listItems::before{
    content: '';
    margin-left: 0.5em;
}
.about__image{
    width: 15rem;
    border-radius: 10px;
}

/*xtrasmall*/
@media (min-width: 375px) {
    .about__title{
        font-size: var(--size-3xl);
    }
    .about__description{
        font-size: var(--size-base);
    }

    .about__subtitle{
        font-size: var(--size-2xl);
       
    }
    .about__listItems{
        font-size: var(--size-base);
        text-transform: capitalize;
    }
    
    .about__image{
        width: 15rem;
        margin: 0 auto;
       
    }
    .about__image-container{
        margin: 0 auto;
     }
}

/* smallScreen*/

@media (min-width: 640px) {
    .about__image-container{
       margin: 0 auto;
    }
    .about__image{
        width: 18rem;
        
    }
}

/* mediumScreen*/

/* @media (min-width: 768px) {
  
    
} */


/*largeScreen*/

@media (min-width: 1024px) {
  .about{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .about__image{
    width: 25rem;
   
}

.about__title{
    font-size: var(--size-4xl);
}
.about__description{
    font-size: var(--size-lg);
}

.about__subtitle{
    font-size: var(--size-3xl);
   
}
.about__listItems{
    font-size: var(--size-lg);
    text-transform: capitalize;
}

}

/*xtraLargeScreen*/

@media (min-width: 1280px) {
    .about__title{
        font-size: var(--size-4xl);
    }
    .about__description{
        font-size: var(--size-xl);
    }

    .about__subtitle{
        font-size: var(--size-3xl);
       
    }
    .about__listItems{
        font-size: var(--size-xl);
        text-transform: capitalize;
    }
    
}

/*2XtraLargeScreen*/

/* @media (min-width: 1536px) {
  
} */