.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top:0.1rem;
}
.home__image{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    margin: -5rem auto 0;
}
.home__subtitle{
    font-size: var(--size-base);
    color: var(--other-text-color);
    margin-top: -0.5rem;
 
}
.home__title{
    color:var(--button-hover-background-color);
    font-size: var(--size-3xl);
    letter-spacing: -0.05em;
    /* line-height: 0.9; */
    margin-top: -2rem;
}

.home__description{
    max-width: 60ch;
    font-size: var(--size-sm);
    color: var(--other-text-color);
    font-weight: bold;
    /* letter-spacing: 0.05em; */
    text-align: center;
    margin-top: 0.3rem;
}

.home__reachOutBtn{
    font-size: var(--size-sm);
    text-transform: uppercase;
    margin-top: -2rem;
}
em{
    margin-top: -3rem;
}


/* xtraSmallScreen */

@media (min-width: 375px) {
    .home{
        gap: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

     
    }
    .home__image{
        width: 17rem;
        height: 17rem;
        margin-top: -3rem;
        
    }
    .home__subtitle{
        font-size: var(--size-2xl);
        line-height: 0;
           line-height: 0.9;
           margin-top: 0.5rem;
     
 }
    .home__title{
        line-height: 0;
        font-size: var(--size-4xl);
           line-height: 0.9;  
           margin-top: 0.1rem;
    }
    
    .home__description{
        font-size: var(--size-xl);
        letter-spacing: 0;
        margin-top: 0.4rem;
    }
    
    .home__reachOutBtn{
        font-size: var(--size-xl);
        margin-top: 0.5rem;
        
    }
    em{
        margin-top: -2.5rem;
    }
}

/* smallScreen*/

@media (min-width: 640px) {
        .home{
            margin-top: 0.5rem;
        }
       .home__image{
        width: 18rem;
        height: 18rem;     
    }
    .home__reachOutBtn{
        margin-top: -1rem;
        
    }
    .home__description{
        margin-top:0;
    }
}

/* mediumScreen*/

@media (min-width: 768px) {
   .home{
    margin-top: 0;
   }
   .home__image{
    margin: 0 auto;
}
}

/*largeScreen*/

@media (min-width: 1024px) {
    .home{ 
        margin-top: 0.2rem; 
         gap: 1rem;
     
    }
    .home__image{
        width: 18rem;
        height: 18rem;
        margin-top: 1rem;
        
    }
    .home__subtitle{
        font-size: var(--size-2xl);
        line-height: 0.3;
        margin-top: 0.5rem;

    }
    .home__title{
        line-height: 0.3;
        font-size: var(--size-4xl);  
        font-weight: bolder;
        margin-top: -1rem;
    }
    
    .home__description{
        font-size: var(--size-lg);
        letter-spacing: 0.5;
        margin-top: 0.1rem;
        
      
    }
    
    .home__reachOutBtn{
        font-size: var(--size-lg);
        margin-top: -1.5rem;
    }
    .about__image{
        height: 28rem;
        width: 28rem;
    }
    em{
        margin-top: -2rem;
    }
 
}

/*xtraLargeScreen*/

@media (min-width: 1280px) {
    .home__image{
        width: 18rem;
        height: 18rem;
        margin-top: -2rem;
        
    }
    .about__image{
        height: 30rem;
        width: 30rem;
    }
    .home__reachOutBtn{
        font-size: var(--size-lg);
    }
    
}

/*2XtraLargeScreen*/

/* @media (min-width: 1536px) {
}